### Gitignore file for Home Lab project.

# General ----------------------------- #
.notes.md
*.bkp
*.backup
*.bak
*prompt*.md
.prompts/

# Secrets ----------------------------- #
*.key
*.env
*.env.*
**/ssh_keys/*-ssh*
*.ssh*

# Variables----------------------------- #
terraform.tfvars
prd.tfvars
auth.tfvars

# Terraform ------------------------------- #
**/.terraform/*
.terraform
.terraformrc
terraform.rc
tfplan.*
*.tfplan
*.plan
*.tfstate
*.tfstate.*
*.lock.*
crash.log
crash.*.log
backend.conf
backend.tf
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible ------------------------------- #
*.retry

# Allowed ------------------------------ #
!env-example.psd1
!*-example.*
