[Unit]
Description=Gitea
After=network.target

[Service]
RestartSec=2s
Type=simple
User={{ gitea_user }}
Group={{ gitea_group }}
WorkingDirectory={{ gitea_data_dir }}
ExecStart={{ gitea_binary_path }} web --config {{ gitea_config_dir }}/app.ini
Restart=always
Environment=USER={{ gitea_user }} HOME={{ gitea_home }} GITEA_WORK_DIR={{ gitea_data_dir }}

[Install]
WantedBy=multi-user.target
