# NOTE: Comments must be on a single line.
# Parsed as an INI file, and Python configparser (which Ansible uses) does not strip inline comments after a value.

[defaults]
inventory = ../../ansible/inventory/main.ini 
roles_path = ../../ansible/roles
# User account for execution (should be provisioned via cloud-init).
remote_user = "svc-ansible"
private_key_file = "../../files/ssh_keys/svc-ansible.ssh"
# Auto-detect Python interpreter, don't make noise.
interpreter_python = auto_silent
# No warning if a host key unexpectedly changes (fine for rebuilds).
host_key_checking = false

[privilege_escalation]
# Turns privilege escalation on or off (defaults to false).
become = true
# Sets the escalation tool to use, such as sudo, su, doas, or runas (defaults to sudo).
become_method = sudo
# Specifies the target user to switch to (defaults to root).
become_user = root
# Forces Ansible to prompt for the privilege escalation password every time run a playbook or ad-hoc command.
become_ask_pass = false

[ssh_connection]
# Executes module code directly through a remote Python interpreter over a single SSH session's standard input pipe.
# This skips the default overhead of creating temporary files and transferring them via SFTP/SCP for every task
pipelining = true
# Base directory used to store SSH ControlMaster socket files.
# SSH multiplexing is the practice of running multiple SSH sessions over a single TCP connection.
# Subsequent sessions piggyback on the first connection through a shared Unix socket.
control_path_dir = /tmp/ansible-ssh
